html {
  font-family: 'browserlink', sans-serif;
  color: #ffffff;
  background: linear-gradient(0deg, #3a00ac, #f200e1, #ff2f58, #ff6d36, #ffae00, #ff6d36, #ff2f58, #f200e1, #3a00ac);
  background-size: 100% 800%;
  background-attachment: fixed;
  animation: gradient 15s ease infinite;
  padding: 0;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;  
  scrollbar-color: #ff4579 #3d009c;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

body {
  background: url("./../res/bg.png") repeat fixed center;
  animation: bgscroll 22s linear infinite;
  padding: 0;
  margin:0;
  min-height: 100%;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes bgscroll {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 475px 475px;
  }
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

.h4line {
  position: relative;
  text-align: left;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: hsla(229, 18%, 0%, 0.8);
  text-align: center;
  padding: 5px 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 120%;
  left: 50%;
  margin-left: -70px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.h4line:before {
  content: " ";
  height: 1px;
  max-width: 700px;
  min-width: 600px;
  width: 30%;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  right: 10%;
}

.chars {
  text-align: center;
  border: none;
  border-radius: 20px;
}

.col-3 {
  margin: 0;
}

.pagedoll {
  text-align: center;
  max-width: 30%;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}

.pagedoll img:hover {
  opacity: 0.2;
}

.whatsnew {
  text-align: left;
  background-color: hsla(334, 76%, 19%, 0.57);
  width: 600px;
  height: 200px;
  border-radius: 10px;
  margin: 0 auto;
  overflow: auto;
  padding: 12px;
}

.toslist {
  text-align: justify;
}

@font-face {
  font-family: 'browserlink';
  src: url(./videotype/videotype-webfont.woff);
}

ul li {
  margin-left: -50px;
  list-style-position: inside;
}

.card {
  width: 150px;
}

.ptcglogo {
  width: 200px;
}

.tab a {
  font-family: 'browserlink', sans-serif;
  background-color: inherit;
  color: white;
  border: none;
  margin: 0 auto;
  padding: 8px 12px;
  transition: 0.3s;
  border-radius: 5px;
}

.qrcode {
  margin:auto;
  display: none;
}

.theme:hover + .qrcode {
  display: block;
}

.qrcode:hover{
  display: block;
}

.tab a:hover {
  background-color: hsla(334, 76%, 19%, 0.57);
}

.borderimg {
  border: 3px white solid;
  border-radius: 3px;
}

.tab .active {
  background-color: inherit;
  color: #ffffff;
}

.tabcontent {
  margin-top: 20px;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

h3,h4 {
  color: rgb(246, 255, 117);
}

.bigbox {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.textbox {
  overflow: hidden;
  background-color: HSLA(318, 73%, 22%, 0.6);
  border-radius: 25px;
  margin: 10px;
  padding: 30px;
}

.ptcgnavbar {
  overflow: hidden;
  background-color: HSLA(318, 73%, 22%, 0.6);
  border-radius: 25px;
  padding: 14px;
  width: 250px;
  position: sticky;
  top: 10px;
  display: inline-block;
}

.ptcgcontent {
  overflow: hidden;
  background-color: HSLA(318, 73%, 22%, 0.6);
  border-radius: 25px;
  padding: 24px;
  max-width: 800px;
  min-width: 600px;
  width: 90%;
  margin: 10px;
  vertical-align: top;
  display: inline-block;
}

.lightbox-target {
  position: fixed;
  z-index: 800;
  width: 100%;
  background: rgba(51, 19, 19, 0.7);
  opacity: 0;
  overflow: hidden;
}

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lightbox-target h3 {
  position: relative;
  display: inline;
}

a.lightbox-close {
  background-image: url("./images/close.png");
  width: 80px;
  margin: 10px;
  height: 80px;
  position: absolute;
  top: -80px;
  right: 5px;
  background-size: 100%;
}

a.lightbox-left {
  background-image: url("./images/arrowleft.png");
  width: 80px;
  margin: 10px;
  height: 80px;
  position: absolute;
  top: 45%;
  left: 5px;
  background-size: 100%;
}

a.lightbox-right {
  background-image: url("./images/arrowright.png");
  width: 80px;
  margin: 10px;
  height: 80px;
  position: absolute;
  top: 45%;
  right: 5px;
  background-size: 100%;
}

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.lightbox-target:target img {
  max-height: 80%;
  max-width: 80%;
}

.lightbox-target:target a.lightbox-close {
  top: 0;
}

.ptcgconstraint {
  position: relative;
  text-align: center;
  width: 1200px;
  margin: auto;
  padding: 25px;
}

.ptcgicon {
  width: 30px;
}

.constraint {
  position: relative;
  text-align: center;
  max-width: 1000px;
  min-width: 850px;
  width: 90%;
  margin: auto;
  padding: 25px;
}

.artimgs {
  max-height: 350px;
  max-width:240px;
  border: 3px white solid;
  border-radius: 3px;
}

a:link,
a:visited {
  color: rgb(255, 218, 97);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ff8800;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: rgb(255, 218, 97);
  background-color: transparent;
  text-decoration: none;
}

.pc-tab>input,
.pc-tab section>div {
  display: none;
}

#tab1:checked~section #tab1,
#tab2:checked~section #tab2,
#tab3:checked~section #tab3,
#tab4:checked~section #tab4,
#tab5:checked~section #tab5 {
  display: block;
}

.tab1 .tab2 .tab3 .tab4 .tab5 {
  background-color: #f6743d;
}

#tab1:checked~nav #tab1,
#tab2:checked~nav #tab2,
#tab3:checked~nav #tab3,
#tab4:checked~nav #tab4,
#tab5:checked~nav #tab5 {
  label {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $activeColor;
      left: 0;
      bottom: -1px;
    }
  }
}

.collection{
  height: 325px;
  margin:5px;
  overflow:hidden;
}

.collection:hover{
  height:auto;
  background-color: #3900ac75;
  border-radius: 5px;
}

#summary:hover + #detail, #detail:hover {
  display: block;
}
#detail {
  display: none;
}

.resources{
  height: 260px;
  margin:5px;
  overflow:hidden;
}

.resources:hover{
  height:auto;
  background-color: #3900ac75;
  border-radius: 5px;
}

.arttab {
  border: none;
  margin:20px;
  background-color: hsla(334, 76%, 19%);
  border-radius: 5px;
}

.subtab {
  width: 80px;
  height: 30px;
  border: none;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: hsla(334, 76%, 19%);
  border-radius: 5px;
}

@keyframes hover {
  0% {
  transform: translate(0px, 3px);
}
50% {
  transform: translate(0px, -3px);
}
100% {
  transform: translate(0px, 3px);
}
}