/* FONT FACES */

@font-face {
  font-family: 'videotype';
  src: url("res/fonts/videotype/videotype.woff");
}

@font-face {
  font-family: 'zettastructure';
  src: url("res/fonts/zettastructure.otf");
}

/* GLOBAL */

html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  scrollbar-color: #ede6d9 #86775d;
  image-rendering: pixelated;
}

body {
  background: #0f0f0f;
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

ul {
  margin-left: -50px;
  list-style-position: inside;
}

h1{
  font-family: 'zettastructure';
  color:#86775d
}

h3{
  margin-top:15px;
  font-family: 'zettastructure';
  color:#baa38e
}

p {
  color: #ede6d9;
  font-family:lucida console;
  font-size:14px;
  font-weight:lighter;
}

a {
  color:#ede6d9;
  text-decoration: none;
}

a:hover{
  color:#baa38e;
  text-decoration: underline;
}

marquee{
  margin-top:3px;
  filter: sepia()
}

/* CLASSES */

.navlinks{
  transform:scale(1,1);
  transition: transform 0.2s ease-in-out;
}

.navlinks:hover{
  transform:scale(1.2,1.2);
}