html{
  margin: 0;
  height:100%;
}

.icon:hover{
  border:2px dashed gray;
  margin:-2px
}

body{
  margin: 0 auto;
  background-color: #008080;
  background-size: 100% 100%;
  image-rendering:pixelated;
  height:100%;
  text-align:center;
}

ul li {
  margin-left:-50px;
  list-style-position: inside;
}

@font-face {
  font-family: 'leviwindows';
  src: url('./res/fonts/leviwindows/leviwindows.ttf');
}

p{
  font-size: 22px;
  font-family: leviwindows;
}
.folder{
  background: url('./res/98/98foldermiddle.png') repeat-y;
  position:relative;
  margin:auto;
  width:542px;
  height:400px;
}

.pagedoll{
  right: 20px;
  bottom: 28px;
  position: fixed;
  max-width:30%;
  z-index:100;
  animation: 2s infinite steps(1,end) shake;
}

.taskbar {
  width: 100%;
  max-height: 52px;
  background: url("./main/images/98taskbar.png") 100% repeat-x;
  position: fixed;
  bottom: 0px;
  z-index: 5;
}

.logo{
  width:300px;
  animation: 2s infinite steps(1,end) shake;
}

.constraint{
  position: relative;
  text-align: center;
  width:980px;
  padding:50px;
  margin: auto;
}

@keyframes hover {
  0% {
  transform: translate(0px, 3px);
}
50% {
  transform: translate(0px, -3px);
}
100% {
  transform: translate(0px, 3px);
}
}

@keyframes shake {
  0% {
  transform: skew(-0.1deg) translate(0px, 0px) scalex(1) scaley(1.005);
}
8% {
  transform: skew(0.2deg) translate(0.4px, 0px) scalex(1) scaley(1);
}
18% {
  transform: skew(0deg) translate(0px, 0.2px) scalex(1.004) scaley(1);
}
30% {
  transform: skew(-0.34deg) translate(0px, 0px) scalex(1.007) scaley(1);
}
38% {
  transform: skew(0deg) translate(-0.5px, 0px) scalex(1) scaley(1);
}
48% {
  transform: skew(0.22deg) translate(0.3px, 0px) scalex(1) scaley(1.003);
}
54% {
  transform: skew(-0.35deg) translate(0px, 0px) scalex(1.0033) scaley(1);
}
60% {
  transform: skew(0.2deg) translate(0px, 0.6px) scalex(1.002) scaley(1);
}
74% {
  transform: skew(0deg) translate(0px, 0px) scalex(1.0) scaley(1);
}
88% {
  transform: skew(0deg) translate(-0.05px, 0.2px) scalex(1.001) scaley(1);
}
100% {
  transform: skew(-0.1deg) translate(0px, 0.3px) scalex(1.0022) scaley(1.005);
}
}
